<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS Belt Exam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CB157C61E7C95AA00A72E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB157DD1E7C95AA00A72E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB157E81E7C95AA00A72E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
