<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Practice Project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C9B20851EB9272E0003F663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C9B20A11EB9272E0003F663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C9B20AC1EB9272E0003F663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
